img{
    max-width: 100%;
    min-height: 700px;
    object-fit: contain
}

.card-body img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-height: 50px;
    margin-bottom: 10px;
    object-fit: cover;

}